---
import type { ReadPublicLayoutProps } from "@niama/domain/functions/layouts";
import { THE_FOOTER } from "@niama/ui/the-footer";
import { IconButton } from "@niama/ui-astro/ui/icon-button";
import { Button } from "@niama/ui-svelte/ui/button";

const { socials } = Astro.props;

type Props = Pick<ReadPublicLayoutProps, "socials">;
---

<footer class={THE_FOOTER.base()}>
  <Button class={THE_FOOTER.disclaimer()} href="/mentions-legales" variant="outline"> Mentions Légales </Button>
  <div class={THE_FOOTER.socials()}>
    {socials.map((social) => (
      <IconButton
        class={THE_FOOTER.social()}
        size="icon"
        variant="outline"
        rel="noopener noreferrer"
        target="_blank"
        {...social}
      />
    ))}
  </div>
</footer>
