---
import "@niama/ui/styles/globals.css";
import { Font } from "astro:assets";
import { Toaster } from "@niama/ui/astro/toast.ts";
import { themeScript } from "@niama/ui/shared/theme";
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>níama | l'équilibre invisible devenu tangible</title>
    <meta
      content="Une constellation d'accompagnants rassemblés autour d'une philosophie commune : vous guider sur le chemin de votre alignement intérieur."
      name="description"
    >
    <meta content="accompagnants, équilibre, alignement" name="keywords">
    <meta content="index, follow" name="robots">
    <link href="/logo.svg" rel="icon">
    <Font cssVariable="--font-heading" preload />
    <Font cssVariable="--font-logo" preload />
    <Font cssVariable="--font-sans" preload />
    <script is:inline set:html={themeScript}></script>
  </head>
  <body class="group/body" data-scrolled="false">
    <slot />
    <Toaster position="bottom-center" />
  </body>
</html>

<script>
  import { initialize } from "@niama/ui/shared/root-layout";
  import { applyTheme } from "@niama/ui/shared/theme";

  initialize();
  document.addEventListener("astro:after-swap", () => applyTheme());
</script>
