---
import type { ReadPublicLayoutProps } from "@niama/domain/functions/layouts";
import { Button } from "@niama/ui/astro/button.ts";
import { THE_FOOTER } from "@niama/ui/shared/the-footer";
import IconButton from "@/components/icon-button.astro";

// PROPS -----------------------------------------------------------------------------------------------------------------------------------
const { socials } = Astro.props;

// TYPES -----------------------------------------------------------------------------------------------------------------------------------
type Props = Pick<ReadPublicLayoutProps, "socials">;
---

<footer class={THE_FOOTER.base()}>
  <Button class={THE_FOOTER.disclaimer()} href="/" variant="outline"> Mentions Légales </Button>
  <div class={THE_FOOTER.socials()}>
    {socials.map((social) => (
      <IconButton
        class={THE_FOOTER.social()}
        size="icon"
        variant="outline"
        {...social}
      />
    ))}
  </div>
</footer>
